.contenant
{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 400px;
    justify-content: space-around;
    margin: auto;
}


.contenant small
{
    color: rgb(255, 0, 0);
}


.contenant hr
{
    border: solid rgb(100,100,100) 0.5px;
}
