.contenant
{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 400px;
    justify-content: space-around;
    margin: auto;

}

h1
{
    text-align: center;

}

img
{
    margin: auto;
    align-content: center;
}

.contenant hr
{
    border: solid rgb(100,100,100) 0.5px;
}
