#flex_div
{
    display: flex;
    flex: column;
    justify-content: space-around;
    flex-wrap: wrap;


}

.description
{
    border: 1px solid;
    border-color: rgb(140,140,140);
    background-color: rgb(200,200,200);
    width: 80%;
    height: 500px;
}
