@media (max-width: 1024px){

    #conteneur
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: space-around;
        flex-wrap: wrap;

    }

    .element:nth-child(2n)
    {
        background-color: blue;
        text-align: center;
        width:50%;
        height: 100pxjik;

        border-radius: 20px;

    }

    .element:nth-child(2n+1)
    {
        text-align: center;
        background-color: cyan;
        width:50%;
        height:100px;

        border-radius: 20px;
    }

    .premier
    {
        text-align: center;
        background-color: cyan;
        width:100%;
        height:100px;
        margin:10px;
        border-radius: 20px;
    }

    .dernier
    {
        text-align: center;
        background-color: blue;
        width:100%;
        height:100px;
        margin:10px;
        border-radius: 20px;
    }
}

@media (min-width: 1025px){

#conteneur
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;

}
.element:nth-child(2n)
{
    background-color: blue;
    text-align: center;
    width:23%;
    margin:10px;
    height: 100px;

    border-radius: 20px;

}

.element:nth-child(2n+1)
{
    text-align: center;
    background-color: cyan;
    width:23%;
    height:100px;
    margin:10px;
    border-radius: 20px;
}

.premier
{
    text-align: center;
    background-color: cyan;
    width:100%;
    height:100px;
    margin:10px;
    border-radius: 20px;
}

.dernier
{
    text-align: center;
    background-color: blue;
    width:100%;
    height:100px;
    margin:10px;
    border-radius: 20px;
}

}

@media (max-width: 500px){

#conteneur
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;

}
.element:nth-child(2n)
{
    background-color: blue;
    text-align: center;
    width:100%;
    margin:10px;
    height: 100px;

    border-radius: 20px;

}

.element:nth-child(2n+1)
{
    text-align: center;
    background-color: cyan;
    width:100%;
    height:100px;
    margin:10px;
    border-radius: 20px;
}

.premier
{
    text-align: center;
    background-color: cyan;
    width:100%;
    height:100px;
    margin:10px;
    border-radius: 20px;
}

.dernier
{
    text-align: center;
    background-color: blue;
    width:100%;
    height:100px;
    margin:10px;
    border-radius: 20px;
}

}
